# Python bytecode/cache
__pycache__/
*.pyc
*.pyo
*.pyd

outputs/pretrained/*
outputs/datacheck/*
outputs/ablations/*
outputs/checkrun/*
outputs/samples/*
outputs/zeta_tuning/*
outputs/MAIN1000/*
outputs/MAIN1000_100/*
outputs/MAIN1000_100_TRAIN/*

reports
